@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.home-header-sentence{
  position: absolute;
  top: 30%;
  left: 10%;
}
.sentence-margin{
 margin-left: 50px;
 color: green !important;
}
.vidio-element {
  height: 1000px; /* Adjust the height as needed */
  object-fit: cover; /* Preserve aspect ratio and cover the container */
}